.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.list-ul{
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
}

.item{
  justify-content: center;
  border-radius: 20px;
  height: 150px;
  margin: 10px;
  border: 1px solid tomato;
}

.title{
  font-weight: 1000;
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  border-bottom: 1px solid tomato;
}

.title:empty{
  border: none;
}

.description{
  padding: 10px;
  font-size: 18px;
}

/* GLOBALL */

ul{
  list-style: none;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  height: 100px;
  width: 500px;
}

button{
  height: 30px;
  width: 30px;
}

